</main>
<div class="footer-container ">
    <footer class="text-center my-footer text-lg-start " style="background-color: #db6930;">
      <div class="container d-flex justify-content-center py-5">
        <button  type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #54456b;">
            <a href="https://www.linkedin.com/in/yuval-aharon-825784285/"><img class="social-icon" src="images/svg/linkedin.svg" alt=""></a>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #54456b;">
            <a href="https://github.com/yuvalaha"><img class="social-icon" src="images/svg/github.svg" alt=""></a>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #54456b;">
            <a href="https://x.com"><img class="social-icon" src="images/svg/x.svg" alt=""></a>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #54456b;">
            <a href="https://youtube.com"><img class="social-icon" src="images/svg/youtube.svg" alt=""></a>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #54456b;">
          <a href="https://instagram.com"><img class="social-icon" src="images/svg/instagram.svg" alt=""></a>
        </button>
        
        
      </div>
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Yuval Aharon
      </div>
    </footer>
    
  </div>
    </body>
</html>