<%- include('partials/navbar.ejs') %>
<section class="about-section">
    <h1 class="mb-4 mt-4">About Me</h1>
    <p class="lead">Hello! I'm a passionate <strong>full-stack developer</strong> with a degree in <strong>physics</strong>.</p>
</section>

<section class="about-section">
    <h2>Skills & Expertise</h2>
    <ul>
        <li>Languages & Frameworks: Python, Node.js, HTML, CSS, React, MATLAB</li>
        <li>Databases: MySQL and more</li>
        <li>Always exploring new technologies and enhancing my skills</li>
    </ul>
</section>

<section class="about-section">
    <h2>Why I Love Programming</h2>
    <p class="text-justify">
        For me, programming is more than just a profession it's a way to bring ideas to life, solve challenging problems, 
        and create meaningful solutions. Every project I take on is an opportunity to learn, grow, and innovate.
    </p>
</section>

<%- include('partials/footer.ejs') %>